<div class="row">
    <div class="col-12">
        <h2 class="">Zadania na gwiazdki</h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <mat-tab-group #tabGroup (selectedTabChange)="getTabIndex($event)">
            <mat-tab label="Czerwony">
                <ng-template matTabContent>
                    <app-list [listType]="'stars'"  [index]="indexValue"></app-list>
                </ng-template>
            </mat-tab>
            <mat-tab label="Żółty">
                <ng-template matTabContent>
                    <app-list [listType]="'stars'"  [index]="indexValue"></app-list>
                </ng-template>
            </mat-tab>
            <mat-tab label="Zielony">
                <ng-template matTabContent>
                    <app-list [listType]="'stars'"  [index]="indexValue"></app-list>
                </ng-template>
            </mat-tab>
            <mat-tab label="Niebieski">
                <ng-template matTabContent>
                    <app-list [listType]="'stars'"  [index]="indexValue"></app-list>
                </ng-template>
            </mat-tab>
            <mat-tab label="Fioletowy">
                <ng-template matTabContent>
                    <app-list [listType]="'stars'"  [index]="indexValue"></app-list>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>